@import url("https://fonts.googleapis.com/css?family=Lora|Raleway:900");
body {
  cursor: default;
  margin: 0;
  font-family: "Lora", sans-serif;
  font-size: 1.5rem;
  color: #121212; }

div:empty {
  display: block; }

.container {
  display: block;
  margin: 0;
  padding: 18rem 0;
  display: flex;
  justify-content: center;
  height: 100%; }

.container > div {
  width: 70%; }

body,
td,
p,
div {
  font-size: 1.75rem; }

big {
  font-size: 2rem; }

strong,
b {
  font-family: "Raleway", sans-serif;
  background: #f0e48e; }

.h1 {
  font-family: "Raleway", sans-serif;
  font-size: 7rem;
  font-weight: 700;
  color: #121212; }
  .h1.has-primary-shadow {
    text-shadow: -0.5rem 0.5rem 0 #f0e48e; }
  .h1.has-secondary-shadow {
    text-shadow: -0.5rem 0.5rem 0 #A3D9D3; }
  .h1.has-white-shadow {
    text-shadow: -0.5rem 0.5rem 0 #FFFFFF; }
  .h1.has-black-shadow {
    text-shadow: -0.5rem 0.5rem 0 #121212; }
  .h1.has-grey-shadow {
    text-shadow: -0.5rem 0.5rem 0 #333333; }
  .h1.is-primary {
    color: #f0e48e; }
  .h1.is-secondary {
    color: #A3D9D3; }
  .h1.is-white {
    color: #FFFFFF; }

.h2 {
  font-family: "Raleway", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  color: #121212; }
  .h2.has-primary-shadow {
    text-shadow: -0.5rem 0.5rem 0 #f0e48e; }
  .h2.has-secondary-shadow {
    text-shadow: -0.5rem 0.5rem 0 #A3D9D3; }
  .h2.has-white-shadow {
    text-shadow: -0.5rem 0.5rem 0 #FFFFFF; }
  .h2.has-black-shadow {
    text-shadow: -0.5rem 0.5rem 0 #121212; }
  .h2.has-grey-shadow {
    text-shadow: -0.5rem 0.5rem 0 #333333; }
  .h2.is-primary {
    color: #f0e48e; }
  .h2.is-secondary {
    color: #A3D9D3; }
  .h2.is-white {
    color: #FFFFFF; }

.h3 {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: #121212; }
  .h3.has-primary-shadow {
    text-shadow: -0.5rem 0.5rem 0 #f0e48e; }
  .h3.has-secondary-shadow {
    text-shadow: -0.5rem 0.5rem 0 #A3D9D3; }
  .h3.has-white-shadow {
    text-shadow: -0.5rem 0.5rem 0 #FFFFFF; }
  .h3.has-black-shadow {
    text-shadow: -0.5rem 0.5rem 0 #121212; }
  .h3.has-grey-shadow {
    text-shadow: -0.5rem 0.5rem 0 #333333; }
  .h3.is-primary {
    color: #f0e48e; }
  .h3.is-secondary {
    color: #A3D9D3; }
  .h3.is-white {
    color: #FFFFFF; }

a,
a:link,
a:visited {
  color: #121212;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 0.25rem solid #f0e48e; }

a:hover {
  background: #f0e48e; }

.has-margin-1 {
  margin: 0.5rem; }

.has-margin-2 {
  margin: 1rem; }

.has-margin-3 {
  margin: 1.5rem; }

.has-margin-4 {
  margin: 2rem; }

.has-margin-5 {
  margin: 2.5rem; }

.has-padding-1 {
  padding: 0.5rem; }

.has-padding-2 {
  padding: 1rem; }

.has-padding-3 {
  padding: 1.5rem; }

.has-padding-4 {
  padding: 2rem; }

.has-padding-5 {
  padding: 2.5rem; }

.has-no-padding {
  padding: 0; }

table {
  border: 0.3rem solid #121212;
  background: #FFFFFF;
  border-spacing: 0;
  flex: 1 100%;
  width: 100%; }
  table.is-borderless {
    border: none; }
    table.is-borderless td,
    table.is-borderless tr {
      border: none; }
  table td,
  table tr {
    border: 0.3rem solid #121212; }

.rectangle {
  display: block;
  min-height: 3rem;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: .5rem 0 0 .5rem;
  background: #f0e48e;
  color: #f0e48e; }
  .rectangle.is-primary {
    background: #f0e48e;
    color: #f0e48e; }
  .rectangle.is-secondary {
    background: #A3D9D3;
    color: #A3D9D3; }
  .rectangle.is-black {
    background: #121212;
    color: #121212; }

.diag-lines {
  background-repeat: repeat;
  background-position: top left;
  background-image: url("../../images/pattern-diagonal_lines.png");
  min-height: 3rem; }

.footer-links {
  display: flex;
  justify-content: center; }
  .footer-links .link {
    border-color: #121212;
    border-style: solid;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    background: #FFFFFF;
    border-width: .6rem;
    padding: 1rem;
    margin: .25rem 1rem; }
    .footer-links .link .footer-icon {
      color: #A3D9D3;
      font-size: 1.5rem;
      margin-right: 1rem; }
  .footer-links .link:hover {
    background: #f0e48e; }
    .footer-links .link:hover .footer-icon {
      color: #121212; }

.carousel-status,
.thumbs-wrapper.axis-vertical {
  display: none; }

.samplecarousel {
  padding: 2rem .5rem; }
  .samplecarousel img {
    display: inline-block;
    float: left; }
