@import url("https://fonts.googleapis.com/css?family=Lora|Raleway:900");
@media only screen and (max-width: 800px) {
  body,
  td,
  p,
  div {
    font-size: 1.1rem; }
  big {
    font-size: 1.3rem; }
  strong,
  b {
    font-family: "Raleway", sans-serif;
    background: #f0e48e; }
  .h1 {
    font-family: "Raleway", sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    color: #121212; }
  .h2 {
    font-family: "Raleway", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color: #121212; }
  .h3 {
    font-family: "Raleway", sans-serif;
    font-size: 3.25rem;
    font-weight: 700;
    color: #121212; }
  .footer-links .link {
    border-width: .6rem;
    padding: .75rem;
    margin: 0 .5rem; }
    .footer-links .link .footer-icon {
      color: #A3D9D3;
      font-size: 1.5rem;
      margin-right: 1rem; } }

@media only screen and (max-width: 414px) {
  .container > div {
    width: 100%; }
  .container {
    display: block;
    margin: 0;
    padding: 9rem 2.5rem;
    display: flex;
    justify-content: center;
    height: 100%; }
  .has-margin-1 {
    margin: 0.25rem; }
  .has-margin-2 {
    margin: 0.5rem; }
  .has-margin-3 {
    margin: 0.75rem; }
  .has-margin-4 {
    margin: 1rem; }
  .has-margin-5 {
    margin: 1.25rem; }
  .has-padding-1 {
    padding: 0.25rem; }
  .has-padding-2 {
    padding: 0.5rem; }
  .has-padding-3 {
    padding: 0.75rem; }
  .has-padding-4 {
    padding: 1rem; }
  .has-padding-5 {
    padding: 1.25rem; }
  .has-no-padding {
    padding: 0; }
  body,
  td,
  p,
  div {
    font-size: 1rem; }
  big {
    font-size: 1.5rem; }
  strong,
  b {
    font-family: "Raleway", sans-serif;
    background: #f0e48e; }
  .h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #121212; }
    .h1.has-primary-shadow {
      text-shadow: -0.2rem 0.2rem 0 #f0e48e; }
    .h1.has-secondary-shadow {
      text-shadow: -0.2rem 0.2rem 0 #A3D9D3; }
    .h1.has-white-shadow {
      text-shadow: -0.2rem 0.2rem 0 #FFFFFF; }
    .h1.has-black-shadow {
      text-shadow: -0.2rem 0.2rem 0 #121212; }
    .h1.has-grey-shadow {
      text-shadow: -0.2rem 0.2rem 0 #333333; }
    .h1.is-primary {
      color: #f0e48e; }
    .h1.is-secondary {
      color: #A3D9D3; }
    .h1.is-white {
      color: #FFFFFF; }
  .h2 {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #121212; }
    .h2.has-primary-shadow {
      text-shadow: -0.2rem 0.2rem 0 #f0e48e; }
    .h2.has-secondary-shadow {
      text-shadow: -0.2rem 0.2rem 0 #A3D9D3; }
    .h2.has-white-shadow {
      text-shadow: -0.2rem 0.2rem 0 #FFFFFF; }
    .h2.has-black-shadow {
      text-shadow: -0.2rem 0.2rem 0 #121212; }
    .h2.has-grey-shadow {
      text-shadow: -0.2rem 0.2rem 0 #333333; }
    .h2.is-primary {
      color: #f0e48e; }
    .h2.is-secondary {
      color: #A3D9D3; }
    .h2.is-white {
      color: #FFFFFF; }
  .h3 {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #121212; }
    .h3.has-primary-shadow {
      text-shadow: -0.2rem 0.2rem 0 #f0e48e; }
    .h3.has-secondary-shadow {
      text-shadow: -0.2rem 0.2rem 0 #A3D9D3; }
    .h3.has-white-shadow {
      text-shadow: -0.2rem 0.2rem 0 #FFFFFF; }
    .h3.has-black-shadow {
      text-shadow: -0.2rem 0.2rem 0 #121212; }
    .h3.has-grey-shadow {
      text-shadow: -0.2rem 0.2rem 0 #333333; }
    .h3.is-primary {
      color: #f0e48e; }
    .h3.is-secondary {
      color: #A3D9D3; }
    .h3.is-white {
      color: #FFFFFF; }
  .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .footer-links .link {
      border-color: #121212;
      border-style: solid;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      background: #FFFFFF;
      width: 100%;
      border-width: .4rem;
      padding: .5rem;
      margin: .25rem 1rem; }
      .footer-links .link .footer-icon {
        color: #A3D9D3;
        font-size: 1rem;
        margin-right: .5rem; } }
