@import url('https://fonts.googleapis.com/css?family=Lora|Raleway:900');

// Initial variables
$black: #121212;
$grey-dark: #333333;
$grey: #EEEEEE;
$white: #FFFFFF;

$turquoise: #A3D9D3;
$yellow: #f0e48e;


// Derived variables
$primary: $yellow;
$secondary: $turquoise;

$font-body: 'Lora',
sans-serif;
$font-heading: 'Raleway',
sans-serif;