@import '../partials/_mixins';
@import '../partials/_variables';

// CONTAINERS AND SHAPES

body {
  cursor: default;
  margin: 0;
  font-family: $font-body;
  font-size: 1.5rem;
  color: $black;
}

div:empty {
  display: block;
}

.container {
  @include container;
}

.container>div {
  width: 70%;
}

// TYPOGRAPHY

body,
td,
p,
div {
  font-size: 1.75rem;
}

big {
  font-size: 2rem;
}

strong,
b {
  font-family: $font-heading;
  background: $primary;
}

@for $i from 1 through 3 {
  .h#{$i} {
    font-family: $font-heading;
    font-size: 8rem - ($i*1rem);
    font-weight: 700;
    color: $black;

    &.has-primary-shadow {
      text-shadow: -.5rem .5rem 0 $primary;
    }

    &.has-secondary-shadow {
      text-shadow: -.5rem .5rem 0 $secondary;
    }

    &.has-white-shadow {
      text-shadow: -.5rem .5rem 0 $white;
    }

    &.has-black-shadow {
      text-shadow: -.5rem .5rem 0 $black;
    }

    &.has-grey-shadow {
      text-shadow: -.5rem .5rem 0 $grey-dark;
    }

    &.is-primary {
      color: $primary;
    }

    &.is-secondary {
      color: $secondary;
    }

    &.is-white {
      color: $white;
    }
  }
}

// LINKS
a,
a:link,
a:visited {
  color: $black;
  text-decoration: none;
  cursor: pointer;
  border-bottom: .25rem solid $primary;
}

a:hover {
  background: $primary;
}

// MARGIN & PADDING
@for $i from 1 through 5 {
  .has-margin-#{$i} {
    margin: .5rem * $i;
  }
}

@for $i from 1 through 5 {
  .has-padding-#{$i} {
    padding: .5rem * $i;
  }
}

.has-no-padding {
  padding: 0;
}

// TABLES
table {
  border: .3rem solid $black;
  background: $white;
  border-spacing: 0;
  flex: 1 100%;
  width: 100%;

  &.is-borderless {
    border: none;

    td,
    tr {
      border: none;
    }
  }

  td,
  tr {
    border: .3rem solid $black;
  }
}

// SHAPES
.rectangle {
  display: block;
  min-height: 3rem;
  border-style: solid;
  border-color: $white;
  border-width: .5rem 0 0 .5rem;
  background: $primary;
  color: $primary;

  &.is-primary {
    background: $primary;
    color: $primary;
  }

  &.is-secondary {
    background: $secondary;
    color: $secondary;
  }

  &.is-black {
    background: $black;
    color: $black;
  }
}

.diag-lines {
  @include pattern;
  background-image: url('../../images/pattern-diagonal_lines.png');
  min-height: 3rem;
}

.footer-links {
  display: flex;
  justify-content: center;

  .link {
    @include footer-link;
    border-width: .6rem;
    padding: 1rem;
    margin: .25rem 1rem;

    .footer-icon {
      color: $secondary;
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }

  .link:hover {
    background: $primary;

    .footer-icon {
      color: $black;
    }
  }
}

.carousel-status,
.thumbs-wrapper.axis-vertical {
  display: none;
}

.samplecarousel {
  padding: 2rem .5rem;

  img {
    display: inline-block;
    float: left;
  }
}