@import '../partials/_mixins';
@import '../partials/_variables';

@media only screen and (max-width: 800px) {

  body,
  td,
  p,
  div {
    font-size: 1.1rem;
  }

  big {
    font-size: 1.3rem;
  }

  strong,
  b {
    font-family: $font-heading;
    background: $primary;
  }

  @for $i from 1 through 3 {
    .h#{$i} {
      font-family: $font-heading;
      font-size: 4rem - ($i*.25rem);
      font-weight: 700;
      color: $black;
    }
  }

  .footer-links {
    .link {
      border-width: .6rem;
      padding: .75rem;
      margin: 0 .5rem;

      .footer-icon {
        color: $secondary;
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 414px) {

  .container>div {
    width: 100%;
  }

  .container {
    @include container-mobile;
  }

  // MARGIN AND PADDING
  @for $i from 1 through 5 {
    .has-margin-#{$i} {
      margin: .25rem * $i;
    }
  }

  @for $i from 1 through 5 {
    .has-padding-#{$i} {
      padding: .25rem * $i;
    }
  }

  .has-no-padding {
    padding: 0;
  }

  // TYPOGRAPHY

  body,
  td,
  p,
  div {
    font-size: 1rem;
  }

  big {
    font-size: 1.5rem;
  }

  strong,
  b {
    font-family: $font-heading;
    background: $primary;
  }

  @for $i from 1 through 3 {
    .h#{$i} {
      font-family: $font-heading;
      font-size: 3rem - ($i*.5rem);
      font-weight: 700;
      color: $black;

      &.has-primary-shadow {
        text-shadow: -.2rem .2rem 0 $primary;
      }

      &.has-secondary-shadow {
        text-shadow: -.2rem .2rem 0 $secondary;
      }

      &.has-white-shadow {
        text-shadow: -.2rem .2rem 0 $white;
      }

      &.has-black-shadow {
        text-shadow: -.2rem .2rem 0 $black;
      }

      &.has-grey-shadow {
        text-shadow: -.2rem .2rem 0 $grey-dark;
      }

      &.is-primary {
        color: $primary;
      }

      &.is-secondary {
        color: $secondary;
      }

      &.is-white {
        color: $white;
      }
    }
  }

  .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .link {
      @include footer-link;
      width: 100%;
      border-width: .4rem;
      padding: .5rem;
      margin: .25rem 1rem;

      .footer-icon {
        color: $secondary;
        font-size: 1rem;
        margin-right: .5rem;
      }
    }
  }

}